.main {
  display: flex;
  flex-direction: column;
  justify-content: start; 
  align-items: stretch;
  width: 55%;
  margin: auto ;
}


.upload-container{
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
}
.drop-down{
  margin: 15px 0 15px 0;
}

.upload-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.upload-dropzone {
  border: 2px dashed #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.upload-dropzone:hover {
  border-color: #007bff;
}

.file-preview {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.file-preview-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  gap: 5px;
}

.file-preview-item img {
  width: 100px;
  height: 60px;
  object-fit: cover;
}

.file-preview-item span {
  flex-grow: 1;
  margin-left: 10px;
}

.file-preview-item .remove-btn {
  color: #dc3545;
  cursor: pointer;
  border: none;
  background: none;
}

.clear-btn {
  padding: 0px 8px;
  background-color: #ffffff;
  color: red; /* White text */
  border: red solid;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px 0 10px;
  width: 70px;
}

.export-btn{
  background-color: #007bff;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

 input {
  width: 100%;
  padding: 8px 10px 8px 30px;
  border: 1px solid #ccc; 
  border-radius: 4px; /* Rounded corners */
  font-size: 14px; 
  transition: border-color 0.3s ease;
}


 input:focus {
  border-color: #007bff; /* Highlight border on focus */
  outline: none;
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.spacer {
  flex: 1 1 auto;
}

// toggle button styling
.toggle-checkbox {
  display: none;
}

.toggle-button-switch {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.toggle-button-switch:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}


.toggle-checkbox:checked + .toggle-button-switch:before {
  transform: translateX(30px);
}


.toggle-button-text-on {
  color: green;
}

.toggle-button-text-off {
  color: red;
}
